<!DOCTYPE html>
<html ng-app = "rozetkaStore">
<head lang="en">
    <meta charset="UTF-8">
    <title>Rozetka store</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller = "CarListCtrl">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!--Sidebar content-->

                Search: <input ng-model="query">

                Sort by:
                <select ng-model="orderAge">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>

            </div>
            <div class="col-md-10">
                <!--Body content-->

                <ul class = "cars">
                    <li ng-repeat="car in cars | filter:query | orderBy:orderAge" class="thumbnail">
                        <a href="#/cars/{{car.id}}" class="thumb"><img ng-src="{{car.imageUrl}}"></a>
                        <a href="#/cars/{{car.id}}">{{car.name}}</a>
                        <p>{{car.snippet}}</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>



</body>
</html>