    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <p>hey Max!</p>
                <pre>I've never seen you before, you like monkey!      AHHAHAHAHHA!!!!!        </pre>
                <ul>
                    <li ng-repeat="monkey in monkeys">
                        <strong>{{monkey.name}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th ng-repeat = "head in monkeys">{{head}}</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tr ng-repeat = "item in data">-->
            <!--<td>{{item.id}}</td>-->
            <!--<td>{{item.name}}</td>-->
            <!--<td>{{item.country}}</td>-->
            <!--<td>{{item.product}}</td>-->
            <!--<td>{{item.founder}}</td>-->
            <!--<td>{{item.stock}}</td>-->
            <!--<td>-->
                <!--<input type="submit" class = "btn btn-primary btn-sm" value="change" ng-click = "changeData()"/>-->
                <!--<input type="submit" class = "btn btn-danger btn-sm" value="delete" ng-click = "deleteData($index)"/>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->

